<div id="add-user-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close">x</i>
        <div class="popup-title">
            Create New Account
        </div>
    </div>
    <div class="popup-body">
        <form>
            <div class="input-container col-md-6">
                <input type="text" id="signup_first_name" name="first_name">
                <label for="signup_first_name" class="input-label">First Name</label>
            </div>
            <div class="input-container col-md-6">
                <input type="text" id="signup_last_name" name="last_name">
                <label for="signup_last_name" class="input-label">Last Name</label>
            </div>
            <div class="input-container col-md-12">
                <input type="text" id="signup_phone" name="phone">
                <label for="signup_phone" class="input-label">Phone</label>
            </div>
            <div class="input-container col-md-12">
                <input type="text" id="signup_email" name="email">
                <label for="signup_email" class="input-label">Email Address</label>
            </div>
            <div class="input-container col-md-6">
                <input type="password" id="signup_password" name="password">
                <label for="signup_password" class="input-label">Password</label>
            </div>
            <div class="input-container col-md-6">
                <input type="password" id="signup_password_confirmation" name="password_confirmation">
                <label for="signup_password_confirmation" class="input-label">Password Confirmation</label>
            </div>
            <div class="col-md-12">
                <select class="selectpicker" title="Role Type">
                    <option value="1">Admin</option>
                    <option value="2">Director</option>
                    <option value="3">Team Leader</option>
                    <option value="4">Trainee</option>
                    <option value="5">Customer</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Signup</button>
            </div>
        </form>
    </div>
</div>