<div id="signin-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title">
            Back To Account
        </div>
    </div>
    <div class="popup-body">
        <form action="User/Login" method="post">
            <div class="input-container col-md-12">
                <input type="text" id="signin_email" name="email">
                <label for="signin_email" class="input-label">Email Address</label>
            </div>
            <div class="input-container col-md-12">
                <input type="password" id="signin_password" name="password">
                <label for="signin_password" class="input-label">Password</label>
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Signin</button>
            </div>
        </form>
    </div>
</div>
