<div id="update-user-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-remove"></i>
        <div class="popup-title">
            Update Account
        </div>
    </div>
    <div class="popup-body">
        <form>
            <div class="input-container focused col-md-6">
                <input type="text" value="@Session["firstname"]" id="signup_first_name" name="first_name">
                <label for="signup_first_name" class="input-label">First Name</label>
            </div>
            <div class="input-container focused col-md-6">
                <input type="text" value="@Session["lastname"]" id="signup_last_name" name="last_name">
                <label for="signup_last_name" class="input-label">Last Name</label>
            </div>
            <div class="input-container focused col-md-12">
                <input type="text" value="@Session["phone"]" id="signup_phone" name="phone">
                <label for="signup_phone" class="input-label">Phone</label>
            </div>
            <div class="input-container focused col-md-12">
                <input type="text" value="@Session["email"]" id="signup_email" name="email">
                <label for="signup_email" class="input-label">Email Address</label>
            </div>
            <div class="input-container col-md-6">
                <input type="password" id="signup_password" name="password">
                <label for="signup_password" class="input-label">Password</label>
            </div>
            <div class="input-container col-md-6">
                <input type="password" id="signup_password_confirmation" name="password_confirmation">
                <label for="signup_password_confirmation" class="input-label">Password Confirmation</label>
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Update</button>
            </div>
        </form>
    </div>
</div>