<div id="add-project-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title">
            Create New Project
        </div>
    </div>
    <div class="popup-body">
        <form>
            <div class="input-container col-md-12">
                <input type="text" id="newproject_title" name="title">
                <label for="newproject_title" class="input-label">Title</label>
            </div>
            <div class="input-container col-md-12">
                <textarea id="newproject_description" name="description"></textarea>
                <label for="newproject_description" class="input-label">Description</label>
            </div>
            <div class="input-container col-md-12">
                <label>Cover Picture</label>
                <input type="file" id="" name="picture">
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Create</button>
            </div>
        </form>
    </div>
</div>
