<div id="invite-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title">
            Invite Members To Project
        </div>
    </div>
    <div class="popup-body">
        <form>
            <div class="col-xs-12">
                <select title="Choose Member">
                    <option value="">Member #1</option>
                    <option value="">Member #1</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Invite</button>
            </div>
        </form>
    </div>
</div>


