<div id="leave-project-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title" style="margin-bottom:15px;">
            Delete Project
        </div>
    </div>
    <div class="popup-body">
        <form>
            <input name="id" class="hidden" />
            <h3 class="text-center" style="margin-bottom:25px;">Are you sure you want leave this project ?</h3>
            <div class="text-center">
                <button type="submit" class="red-btn">Yes</button>
                <button type="button" class="red-btn">No</button>
            </div>
        </form>
    </div>
</div>
