<div id="rate-member-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title" style="margin-bottom:15px;">
            Rate Member
        </div>
    </div>
    <div class="popup-body">
        <form>
            <input name="id" class="hidden" />
            <input name="user_id" class="hidden" />
            <div class="col-md-4 text-center" style="font-size:18px;">Karim Khamiss</div>
            <div class="col-md-4 text-center" style="font-size:18px;">Team Leader</div>
            <div class="col-md-4 text-center rate" style="margin-bottom:20px;">
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
            </div>
            <div class="clearfix"></div>
            <div class="text-center">
                <button type="submit" class="red-btn">Rate</button>
            </div>
        </form>
    </div>
</div>
