<div id="update-project-popup" class="popup">
    <div class="popup-header">
        <i class="popup-close fa fa-close"></i>
        <div class="popup-title">
            Update Project
        </div>
    </div>
    <div class="popup-body">
        <form>
            <div class="input-container col-md-12">
                <label>Title</label>
                <input type="text" id="newproject_title" value="Project Title will be here" name="title">
            </div>
            <div class="input-container col-md-12">
                <label>Description</label>
                <textarea name="description">Project Description will be here</textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="red-btn">Update</button>
            </div>
        </form>
    </div>
</div>

