
@{
    ViewBag.Title = "Statistical Diagram";
    Layout = "~/Views/Shared/_control-panel-1.cshtml";
}

<section class="projects" id="projects">
    <div class="container-fluid">
        <h2 class="section-title">
            Statistical Diagram
        </h2>
        <div class="diagram-contents">

        </div>
     </div>
</section>