<header>
    <div class="container">
        <div class="fl-left logo">
            Logo
        </div>
        <div class="fl-right">
            <div class="notification pointer fl-left">
                <div class="notification-icon drop-down closed-toggle">
                    <img src="~/Content/img/notification.png" width="20" alt="">
                    <span class="notifications-count">2</span>
                </div>
                <div class="notification-body drop-down-items">
                    <ul>
                        <li class="unseen">
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="">Karim Khamiss</a> wants to join his team for <a href="">e-commerce</a> project
                            <div class="option text-right">
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-check"></i></button></a>
                                <a href="#"><button class="sm-btn red-btn rounded-btn"><i class="fa fa-close"></i></button></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user fl-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dark-fg-color" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="~/Content/img/customer.jpg" alt="">
                        <span>Karim Khamiss</span>&nbsp;<span class="caret red-fg-color"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/homepage">Home Page</a></li>
                        <li data-popup="update-info"><a>Update Info</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
