<div class="nav-container">
    <div class="nav col-md-2">
        <nav>
            <ul>
                @if ((string)Session["role_name"] == "Admin")
                {
                    <a href="/ControlPanel/Overview" class="red-fg-color bold">
                        <i class="fa fa-globe red-fg-color"></i>
                        Overview
                    </a>
                }
                @if ((string)Session["role_name"] == "Director" || (string)Session["role_name"] == "Team Leader" || (string)Session["role_name"] == "Trainee")
                {
                    <a href="/ControlPanel/Diagram" class="red-fg-color bold">
                        <i class="fa fa-bar-chart red-fg-color"></i>
                        Diagram
                    </a>
                }
                @if ((string)Session["role_name"] == "Director")
                {
                    <a href="/ControlPanel/Leaders" class="red-fg-color bold">
                        <i class="fa fa-users red-fg-color"></i>
                        Leaders
                    </a>
                }
                @if ((string)Session["role_name"] == "Director" || (string)Session["role_name"] == "Team Leader")
                {
                    <a href="/ControlPanel/Trainees" class="red-fg-color bold">
                        <i class="fa fa-users red-fg-color"></i>
                        Trainees
                    </a>
                }
                @if ((string)Session["role_name"] == "Customer")
                {
                    <a href="/ControlPanel/Directors" class="red-fg-color bold">
                        <i class="fa fa-users red-fg-color"></i>
                        Directors
                    </a>
                }
                @if ((string)Session["role_name"] == "Admin")
                {
                    <a href="#" class="red-fg-color bold drop-down closed-toggle">
                        <i class="fa fa-users red-fg-color"></i>
                        Users
                    </a>
                    <div class="drop-down-items">
                        <a href="/ControlPanel/Directors" class="red-fg-color bold">
                            Directors
                        </a>
                        <a href="/ControlPanel/Leaders" class="red-fg-color bold">
                            Leaders
                        </a>
                        <a href="/ControlPanel/Trainees" class="red-fg-color bold">
                            Trainees
                        </a>
                        <a href="/ControlPanel/Customers" class="red-fg-color bold">
                            Customers
                        </a>
                        </div>
                        }
                <a href="/ControlPanel/Projects" class="red-fg-color bold">
                    <i class="fa fa-suitcase red-fg-color"></i>
                    Projects
                </a>
            </ul>
        </nav>
    </div>
</div>
